<h1>Administrativo Hotel Teste</h1>

<ul class="nav">
  <li><a href="/">Home</a></li>
  <li class="drop">Clientes
    <ul>
      <li><a href="/clientes-add">Add novo Cliente</a></li>
      <li><a href="/clientes">Listar Cliente</a></li>
      <!-- <li><a href="http://www.g.com">Editar</a></li> -->
    </ul>
  </li>

  <li class="drop">Quartos
    <ul>
      <li><a href="/quartos-add">Add novo quarto</a></li>
      <li><a href="/quartos">Listar quartos</a></li>
      <!-- <li><a href="http://www.g.com">Editar</a></li> -->
    </ul>
  </li>
  <li class="drop">Tipos de Quartos
    <ul>
      <li><a href="/tipoquartos-add">Add novo tipo de quarto</a></li>
      <li><a href="/tipoquartos">Listar TIpos de quartos</a></li>
      <!-- <li><a href="http://www.g.com">Editar</a></li> -->
    </ul>
  </li>
  <li><a href="#">Contact</a></li>
</ul>

<!-- <a class="follow" href="https://twitter.com/mildrenben" target="_blank"><i class="fa fa-twitter"></i>Follow Me</a> -->

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

<link href='https://fonts.googleapis.com/css?family=Roboto:400,500,300,700' rel='stylesheet' type='text/css'>

<div class="container">
  <router-outlet></router-outlet>
</div>